[submodule "libiconv-android"]
	path = libiconv-android
	url = https://github.com/tguillem/android-libiconv.git
[submodule "libxml2-android"]
	path = libxml2-android
	url = https://github.com/CyanogenMod/android_external_libxml2.git
[submodule "openssl-android"]
	path = openssl-android
	url = https://github.com/eighthave/openssl-android.git
[submodule "libzip-android"]
	path = libzip-android
	url = https://github.com/julienr/libzip-android.git
[submodule "ideviceinstaller"]
	path = ideviceinstaller
	url = https://github.com/libimobiledevice/ideviceinstaller.git
[submodule "libfuse-android"]
	path = libfuse-android
	url = https://github.com/Vayu/libfuse-android.git
[submodule "libplist"]
	path = libplist
	url = https://github.com/libimobiledevice/libplist.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "ifuse"]
	path = ifuse
	url = https://github.com/libimobiledevice/ifuse.git
[submodule "usbmuxd"]
	path = usbmuxd
	url = https://lunzii@github.com/lunzii/usbmuxd.git
[submodule "libusbmuxd"]
	path = libusbmuxd
	url = https://lunzii@github.com/lunzii/libusbmuxd.git
[submodule "libimobiledevice"]
	path = libimobiledevice
	url = https://linzii@github.com/lunzii/libimobiledevice.git
